.container {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: 2em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.uppercase {
  text-transform: uppercase;
}
