:root {
  /* colours */

  --gradient: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* Light theme */
  --col-v-light-grey: hsl(0, 0%, 98%);
  --col-v-light-grey-blue: hsl(236, 33%, 92%);
  --col-light-grey-blue: hsl(233, 11%, 84%);
  --col-dark-grey-blue: hsl(235, 9%, 61%);
  --col-v-dark-grey-blue: hsl(235, 19%, 35%);
  --col-bright-blue: hsl(220, 98%, 61%);

  /* fonts colour */
  --primary-font-col: var(--col-v-dark-grey-blue);
}
