.todos {
  margin-top: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1em;

    &--completed {
      text-decoration: line-through;
      color: hsl(233, 11%, 84%);
    }

    &-delete {
      margin-left: auto;
    }

    &-footer {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: none;

      &-text {
        color: var(--col-dark-grey-blue);
      }
    }
  }
}

.first-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-cross {
  width: clamp(0.75rem, 0.618rem + 0.563vw, 1.125rem);
  height: auto;
}

.no-completed-message {
  text-align: center;
  color: var(--col-dark-grey-blue);
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// Light Theme

.todos__item[data-theme="light"] {
  background-color: #fff;
  border-bottom: 1px solid var(--col-v-light-grey-blue);
}

// Dark Theme
.todos__item[data-theme="dark"] {
  background-color: var(--col-v-dk-des-blue);
  border-bottom: 1px solid var(--col-v-dk-grey-blue-2);
}
