.todos {
  margin-top: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;

  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(236, 33%, 92%);
    padding: 1em;
    background-color: #fff;

    &--completed {
      text-decoration: line-through;
      color: hsl(233, 11%, 84%);
    }

    &-footer {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: none;
    }
  }
}

.first-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-cross {
  width: clamp(0.75rem, 0.618rem + 0.563vw, 1.125rem);
  height: auto;
}
