.header {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 12.5rem;
  background-position: center;

  &__content {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #fff;
    letter-spacing: 0.3em;
  }
}

.header[data-theme="light"] {
  background-image: url("/assets/images/bg-mobile-light.jpg");
}

.header[data-theme="dark"] {
  background-image: url("/assets/images/bg-mobile-dark.jpg");
}

@media (min-width: 376px) {
  .header[data-theme="light"] {
    background-image: url("/assets/images/bg-desktop-light.jpg");
  }

  .header[data-theme="dark"] {
    background-image: url("/assets/images/bg-desktop-dark.jpg");
  }
}
