@import "./styles/reset.module.css";
@import "./styles/utilities.module.css";
@import "./styles/variables.module.css";

body {
  font-weight: 400;
  transition: background 0.25s ease-in-out;
}

body[data-theme="light"] {
  background-color: var(--col-v-light-grey);
  color: var(--col-v-dark-grey-blue);
  --placeholder-color: var(--col-dark-grey-blue);
}

body[data-theme="dark"] {
  background-color: var(--col-v-dk-blue);
  color: var(--col-v-light-grey-blue);
  --placeholder-color: var(--col-hvr-lt-grey-blue);
}

button.circle-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid hsl(236, 33%, 92%);
  background-color: transparent;
}

button.circle-btn:hover {
  background-color: hsl(280, 87%, 65%);
}

.gradient {
  background: var(--gradient);
}
