form {
  padding: 0.8em 1em;
  border-radius: 5px;
}

input {
  border: none;
  flex: 1;
}

input:focus-visible {
  outline: 1px solid var(--col-dark-grey-blue);
}

.btn-check {
  align-self: center;
}

// Light Theme

form[data-theme="light"] {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

input[data-theme="light"] {
  background-color: #fff;
}

// Dark Theme

form[data-theme="dark"] {
  background-color: var(--col-v-dk-des-blue);
}

input[data-theme="dark"] {
  background-color: var(--col-v-dk-des-blue);
  color: var(--col-lt-grey-blue);
}

::placeholder {
  color: var(--placeholder-color);
}
