.header {
  background-image: url("../../../public/assets/images/bg-mobile-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 12.5rem;
  background-position: center;
}
